/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600&display=swap");

:root {
	--tomato: tomato;
	--yellow: #f1c40f;
	--green: #2ecc71;
}

body {
	padding: 0;
	margin: 0;
	line-height: inherit;
}

/**
 * WHAT IS THIS FILE?
 *
 * Globally applied styles. No matter which components are in the page or matching route,
 * the styles in here will be applied to the Document, without any sort of CSS scoping.
 *
 */
html {
	line-height: 1;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-family: "Roboto Mono", monospace;
	height: 100vh;
	display: grid;
	place-items: center;
	overflow: hidden;
}

body {
	padding: 0;
	line-height: inherit;
	background-color: #222;
	border: 1px solid #555;
	border-radius: 8px;
	height: 90vh;
	width: 95vw;
	overflow: hidden;
	color: white;
	font-size: 13px;
}

@media (min-width: 768px) {
	body {
		height: 650px;
		width: 600px;
	}
}

main {
	height: 100%;
	padding: 5px;
}

p {
	color: white;
	margin: 0;
}

input {
	background-color: unset;
	border: none;
	outline: none;
	color: white;
	width: 100%;
}

.d-flex {
	display: flex;
}

.align-center {
	align-items: center;
}

.g-05 {
	gap: 0.5rem;
}

.my-5px {
	margin-top: 5px;
	margin-bottom: 5px;
}
